<div class="content-section px-40px pt-40px lg:px-100px py-100px">
<h1 class="font-fredoka font-extrabold text-custom-green text-4xl">Gracias por tu comentario. </h1>
<p class="text-lg font-light">Tu valoración es muy importante para nosotros. </p>
</div>
