<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">


<header class="bg-gradient-to-b top-0 p-2 w-full">
    <nav class="container flex flex-col sm:flex-row justify-between items-center">
        <div class="flex justify-center mb-2 sm:mb-0">
            <ul class="flex space-x-4">
                <li>
                    <a href="https://www.facebook.com" class="hover:underline">Facebook</a>
                </li>
                <li>
                    <a href="https://www.instagram.com" class="hover:underline">Instagram</a>
                </li>
                <li>
                    <a href="https://www.twitter.com" class="hover:underline">TikTok</a>
                </li>
            </ul>
        </div>
        <div class="lg:pr-40">
            <%= image_tag("nonna_logo.png", alt: "Nonna maria logo", class: "w-60") %>
        </div>
        <button class="border border-brown text-brown bg-transparent hover:bg-brown hover:text-white px-4 py-2 rounded transition duration-200">
            Nuestras delicias
        </button>
    </nav>
</header>

<div class="text-center" style="color: rgb(46, 75, 96)">
    <div class="content-section px-40px py-150px lg:px-100px py-300px">
        <h1 class="lg:text-5xl text-4xl font-extrabold font-poppins mb-4 text-custom-green">¿Cómo ha sido tu experiencia?</h1>
        <div class="feedback-form">
            <form action="/feedbacks" method="post"id="feedbackForm">
            <input type="hidden" name="authencity_token" value="<%= form_authenticity_token %>">
                    <div class="rating">
                        <input type="radio" id="star5" name="feedback[rating]" value="5" onclick="redirectToPage()">
                        <label for="star5">&#9733;</label>
                        <input type="radio" id="star4" name="feedback[rating]" value="4" onclick="showCommentSection()">
                        <label for="star4">&#9733;</label>
                        <input type="radio" id="star3" name="feedback[rating]" value="3" onclick="showCommentSection()" >
                        <label for="star3">&#9733;</label>
                        <input type="radio" id="star2" name="feedback[rating]" value="2" onclick="showCommentSection()" >
                        <label for="star2">&#9733;</label>
                        <input type="radio" id="star1" name="feedback[rating]" value="1" onclick="showCommentSection()" >
                        <label for="star1">&#9733;</label>
                    </div>
                    <div class="comment">
                        <div class="flex flex-col pb-10">
                            <input id="client_name" name="feedback[client_name]" placeholder="Name" class="input-box">
                            <input id="email_address" name="feedback[email_address]" placeholder="Email address" class="input-box">
                        </div>
                        <textarea id="comment" name="feedback[comment]" placeholder="Please let us know how your experience was"></textarea>
                        <button type="submit" class="submit-btn" onclick="redirectionToWeb()">Submit</button>
                    </div>
            </form>
        </div>
    </div>

    <section>
        <div class="pb-10 flex flex-col lg:flex-row">
            <%= image_tag("nonna.png", alt: "la nonna maria",  class: "lg:w-1/2 h-auto")%> 
            <div>
                <h1 class="lg:text-6xl text-4xl font-poppins font-extrabold mb-4 text-custom-green">GET READY TO COOL OFF</h1>
                <p class="lg:text-3xl p-4 text-justify text-gray-500 font-light">En la Gelateria Nonna Maria, cada sabor cuenta una historia. 
                Desde el gelato artesanal hasta los dulces y panes que prepara la 
                Nonna en su obrador, todo está hecho con dedicación y respeto por 
                la tradición. Ven a disfrutar de un rincón de Italia en Santa Cruz, 
                donde cada bocado te hará sentir como en casa.</p>
            </div>
        </div>
    </section>

    <section>
        <h1 class="lg:text-5xl text-4xl font-extrabold mb-4 text-custom-green">ARTESANAL</h1>
        <carousel>
        <%= image_tag("carousel_image.jpg")%>
        </carousel>
        <p class="lg:text-3xl p-5 text-justify text-gray-500 font-light">Nonna Maria es una gelatería familiar que trae el auténtico sabor de Italia a Santa Cruz. Desde nuestro rincón en el residencial Anaga, ofrecemos una experiencia que va más allá del simple postre: aquí, cada producto es el resultado de un compromiso con la tradición.</p>
        </br>

        <p class="lg:text-3xl p-5 text-justify text-gray-500 font-light">Nuestros gelatos son creados artesanalmente por nuestro maestro heladero, quien cuida cada receta para lograr sabores profundos y genuinos. En paralelo, la Nonna Maria elabora dulces, tartas y panes caseros que recuerdan las recetas de antaño, usando ingredientes de primera calidad traídos de Italia. 
        </p>
    </section>

</div>
