<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">


<header class="bg-gradient-to-b top-0 p-2 w-full">
    <nav class="container flex justify-center">
        <div>
            <%= image_tag("nonna_logo.png", alt: "Nonna maria logo", class: "justify-center w-60") %>
        </div>
    </nav>
</header>

<div class="text-center" style="color: rgb(46, 75, 96)">
    <div class="content-section px-40px py-150px lg:px-100px py-500px xl:p-100px">
        <h1 class="lg:text-5xl text-4xl font-extrabold font-poppins mb-4 text-custom-green">¿Cómo ha sido tu experiencia?</h1>
        <div class="feedback-form">
            <form action="/feedbacks" method="post"id="feedbackForm">
            <input type="hidden" name="authencity_token" value="<%= form_authenticity_token %>">
                    <div class="rating">
                        <input type="radio" id="star5" name="feedback[rating]" value="5" onclick="redirectToPage()">
                        <label for="star5">&#9733;</label>
                        <input type="radio" id="star4" name="feedback[rating]" value="4" onclick="showCommentSection()">
                        <label for="star4">&#9733;</label>
                        <input type="radio" id="star3" name="feedback[rating]" value="3" onclick="showCommentSection()" >
                        <label for="star3">&#9733;</label>
                        <input type="radio" id="star2" name="feedback[rating]" value="2" onclick="showCommentSection()" >
                        <label for="star2">&#9733;</label>
                        <input type="radio" id="star1" name="feedback[rating]" value="1" onclick="showCommentSection()" >
                        <label for="star1">&#9733;</label>
                    </div>
                    <div class="comment">
                        <div class="flex flex-col pb-10">
                            <input id="client_name" name="feedback[client_name]" placeholder="Name" class="input-box">
                            <input id="email_address" name="feedback[email_address]" placeholder="Email address" class="input-box">
                        </div>
                        <textarea id="comment" name="feedback[comment]" placeholder="Please let us know how your experience was"></textarea>
                        <button type="submit" class="submit-btn" onclick="redirectionToWeb()">Submit</button>
                    </div>
            </form>
        </div>
    </div>

    <section>
        <div class="pb-10 flex flex-col lg:flex-row">
            <%= image_tag("nonna.png", alt: "la nonna maria",  class: "lg:w-1/2 h-auto")%> 
            <div>
                <h1 class="lg:text-6xl text-4xl font-poppins font-extrabold mb-4 text-custom-green">GET READY TO COOL OFF</h1>
                <p class="lg:text-3xl p-4 text-justify text-gray-500 font-light">En la Gelateria Nonna Maria, cada sabor cuenta una historia. 
                Desde el gelato artesanal hasta los dulces y panes que prepara la 
                Nonna en su obrador, todo está hecho con dedicación y respeto por 
                la tradición. Ven a disfrutar de un rincón de Italia en Santa Cruz, 
                donde cada bocado te hará sentir como en casa.</p>
            </div>
        </div>
    </section>

    <section>
        <h1 class="lg:text-5xl text-4xl font-extrabold mb-4 text-custom-green">ARTESANAL</h1>
        <p class="lg:text-3xl p-5 text-justify text-gray-500 font-light">Nonna Maria es una gelatería familiar que trae el auténtico sabor de Italia a Santa Cruz. Desde nuestro rincón en el residencial Anaga, ofrecemos una experiencia que va más allá del simple postre: aquí, cada producto es el resultado de un compromiso con la tradición.</p>
        </br>

        <p class="lg:text-3xl p-5 text-justify text-gray-500 font-light">Nuestros gelatos son creados artesanalmente por nuestro maestro heladero, quien cuida cada receta para lograr sabores profundos y genuinos. En paralelo, la Nonna Maria elabora dulces, tartas y panes caseros que recuerdan las recetas de antaño, usando ingredientes de primera calidad traídos de Italia. 
        </p>
    </section>

    <carousel>
    <%= image_tag("carousel_image.jpg")%>
    </carousel>


    <footer class="footer bottom-0 w-full bg-brown text-white">
        <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
            <div class="md:flex md:justify-between">
                <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase text-white">Contact</h2>
                        <ul class="text-gray-500 font-medium">
                            <li class="mb-4">
                                <a href="https://api.whatsapp.com/send?phone=+3468555535&text=Hola%20vengo%20de%20la%20web%20de%20Ad Boat Rental!" class="hover:underline">Whatsapp</a>
                            </li>
                            <li>
                                <a href="#" class="hover:underline">info@adboatrental.com</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase text-white">Follow us</h2>
                        <ul class="text-gray-500 font-medium">
                            <li class="mb-4">
                                <a href="https://www.instagram.com/adboatrental_/" class="hover:underline ">Instagram</a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/@thealbertodornerproject205/shorts" class="hover:underline">Youtube</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase text-white">Legal</h2>
                        <ul class="text-gray-500 font-medium">
                            <li class="mb-4">
                                <a href="https://adboatrental.com/privacy-policy/" class="hover:underline">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="https://adboatrental.com/terms-and-conditions/" class="hover:underline">Terms &amp; Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="my-6 border-gray-200 sm:mx-auto border-gray-700 lg:my-8" />
            <div class="sm:flex sm:items-center sm:justify-between">
                <span class="text-sm text-gray-500 sm:text-center text-gray-400">© 2023 <a href="#" class="hover:underline">AD Boat Rental</a>. All Rights Reserved.
                </span>
                <div class="flex mt-4 sm:justify-center sm:mt-0">
                    <a href="https://www.facebook.com/ADboatrental" class="text-gray-500 hover:text-gray-900 hover:text-white">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 8 19">
                            <path fill-rule="evenodd" d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z" clip-rule="evenodd"/>
                        </svg>
                        <span class="sr-only">Facebook page</span>
                    </a>
                    <a href="https://www.instagram.com/adboatrental_/" class="text-gray-500 hover:text-gray-900 hover:text-white ms-5">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512">
                            <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
                        </svg>
                        <span class="sr-only">Instagram</span>
                    </a>
                    <a href="https://www.youtube.com/@thealbertodornerproject205/shorts" class="text-gray-500 hover:text-gray-900 hover:text-white ms-5">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 550 512">
                            <path d="M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z"/>
                        </svg>
                        <span class="sr-only">Youtube</span>
                    </a>
                    <a href="https://www.linkedin.com/company/descarao" class="text-gray-500 hover:text-gray-900 hover:text-white ms-5">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512">
                            <path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/>
                        </svg>
                        <span class="sr-only">Linkedin</span>
                    </a>
                </div>
            </div>
        </div>
        <span class="text-sm text-gray-500 sm:text-center text-gray-400">Icons made from <a href="https://www.onlinewebfonts.com/icon">svg icons</a>is licensed by CC BY 4.0</span>
    </footer>
</div>