



<header class="bg-gradient-to-b top-0 p-2 w-full">
    <nav class="container flex flex-col sm:flex-row justify-between items-center">
        <div class="flex justify-center mb-2 sm:mb-0">
            <ul class="flex space-x-4 lg:pb-5">
                <li>
                    <a href="https://www.tiktok.com/@nonnamaria_oficial" class="text-brown hover:text-brown ms-5">
                        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 32 32">
                            <path d="M16.656 1.029c1.637-0.025 3.262-0.012 4.886-0.025 0.054 2.031 0.878 3.859 2.189 5.213l-0.002-0.002c1.411 1.271 3.247 2.095 5.271 2.235l0.028 0.002v5.036c-1.912-0.048-3.71-0.489-5.331-1.247l0.082 0.034c-0.784-0.377-1.447-0.764-2.077-1.196l0.052 0.034c-0.012 3.649 0.012 7.298-0.025 10.934-0.103 1.853-0.719 3.543-1.707 4.954l0.02-0.031c-1.652 2.366-4.328 3.919-7.371 4.011l-0.014 0c-0.123 0.006-0.268 0.009-0.414 0.009-1.73 0-3.347-0.482-4.725-1.319l0.040 0.023c-2.508-1.509-4.238-4.091-4.558-7.094l-0.004-0.041c-0.025-0.625-0.037-1.25-0.012-1.862 0.49-4.779 4.494-8.476 9.361-8.476 0.547 0 1.083 0.047 1.604 0.136l-0.056-0.008c0.025 1.849-0.050 3.699-0.050 5.548-0.423-0.153-0.911-0.242-1.42-0.242-1.868 0-3.457 1.194-4.045 2.861l-0.009 0.030c-0.133 0.427-0.21 0.918-0.21 1.426 0 0.206 0.013 0.41 0.037 0.61l-0.002-0.024c0.332 2.046 2.086 3.59 4.201 3.59 0.061 0 0.121-0.001 0.181-0.004l-0.009 0c1.463-0.044 2.733-0.831 3.451-1.994l0.010-0.018c0.267-0.372 0.45-0.822 0.511-1.311l0.001-0.014c0.125-2.237 0.075-4.461 0.087-6.698 0.012-5.036-0.012-10.060 0.025-15.083z"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/nonnamaria_oficial/" class="text-brown hover:text-brown  ms-5">
                        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zM12 0C8.741 0 8.333.014 7.053.072 2.695.272.273 2.69.073 7.052.014 8.333 0 8.741 0 12c0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98C8.333 23.986 8.741 24 12 24c3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98C15.668.014 15.259 0 12 0zm0 5.838a6.162 6.162 0 100 12.324 6.162 6.162 0 000-12.324zM12 16a4 4 0 110-8 4 4 0 010 8zm6.406-11.845a1.44 1.44 0 100 2.881 1.44 1.44 0 000-2.881z"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/profile.php?id=61565708200757" class="text-brown hover:text-brown  ms-5">
                        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M9.101 23.691v-7.98H6.627v-3.667h2.474v-1.58c0-4.085 1.848-5.978 5.858-5.978.401 0 .955.042 1.468.103a8.68 8.68 0 0 1 1.141.195v3.325a8.623 8.623 0 0 0-.653-.036 26.805 26.805 0 0 0-.733-.009c-.707 0-1.259.096-1.675.309a1.686 1.686 0 0 0-.679.622c-.258.42-.374.995-.374 1.752v1.297h3.919l-.386 2.103-.287 1.564h-3.246v8.245C19.396 23.238 24 18.179 24 12.044c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.628 3.874 10.35 9.101 11.647Z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="lg:pr-10">
            <%= image_tag("nonna.svg", alt: "Nonna maria logo", class: "w-60") %>
        </div>
        <a href="https://smartmenu.agorapos.com/?id=8yhqy9t0#/">
            <button class="border border-brown text-brown bg-transparent hover:bg-brown hover:text-white px-4 py-2 rounded transition duration-200">
                Nuestras delicias
            </button>
        </a>
    </nav>
</header>


<div class="lg:text-3xl p-4 text-justify text-gray-500 font-light p-50">
    <p class="mt-4 mb-4"><strong>POLÍTICA DE PRIVACIDAD</strong></p>
    <p class="mt-4 mb-4">Esta información deberá facilitarse al usuario a través de un enlace disponible en la página web, bajo la denominación “POLÍTICA DE PRIVACIDAD”. Dicho enlace deberá estar disponible, preferiblemente, en la parte de arriba de la página web, para facilitar su visibilidad y accesibilidad.</p>

    <h2 class="mt-4 mb-4">POLÍTICA DE PRIVACIDAD</h2>
    <p class="mt-4 mb-4"><strong>“SUS DATOS SEGUROS”</strong></p>
    <p class="mt-4 mb-4">Información en cumplimiento de la normativa de protección de datos personales</p>

    <p class="mt-4 mb-4">En Europa y en España existen normas de protección de datos pensadas para proteger su información personal de obligado cumplimiento para nuestra entidad. Por ello, es muy importante para nosotros que entienda perfectamente qué vamos a hacer con los datos personales que le pedimos. Así, seremos transparentes y le daremos el control de sus datos, con un lenguaje sencillo y opciones claras que le permitirán decidir qué haremos con su información personal. Por favor, si una vez leída la presente información le queda alguna duda, no dude en preguntarnos. Muchas gracias por su colaboración.</p>

    <h3 class="mt-4 mb-4">¿Quiénes somos?</h3>
    <ul class="mt-4 mb-4">
        <li>Nuestra denominación: MICARDI FACTORY, S.L.</li>
        <li>Nuestro CIF / NIF: B42803734</li>
        <li>Nuestra actividad principal: Comercio e industria de pastelería, confitería, bollería y heladería artesanal.</li>
        <li>Nuestra dirección: C/ DE CARLOS J.R. HAMILTON, Nº12, 38001 - SANTA CRUZ DE TENERIFE (Santa Cruz de Tenerife)</li>
        <li>Nuestro teléfono de contacto: 687.64.35.02</li>
        <li>Nuestra dirección de correo electrónico de contacto: <a href="mailto:administracion@gelaterianonnamaria.com">administracion@gelaterianonnamaria.com</a></li>
        <li>Nuestra página web: <a href="https://www.gelaterianonnamaria.com" target="_blank">https://www.gelaterianonnamaria.com</a></li>
        <li>Para su confianza y seguridad, le informamos que somos una entidad inscrita en el siguiente Registro Mercantil /Registro Público:</li>
        <li>Nuestra actividad principal está sujeta a un régimen de autorización administrativa previa. Para su confianza y seguridad, le facilitamos los datos relativos a dicha autorización y los identificativos del órgano competente de nuestra supervisión:</li>
        <li>Autorización administrativa:</li>
        <li>Órgano encargado de nuestra supervisión:</li>
        <li>(EN CASO DE QUE LA ACTIVIDAD ESTÉ SUJETA A UN RÉGIMEN DE AUTORIZACIÓN ADMINISTRATIVA)</li>
        <li>El responsable de esta página web ejerce una profesión regulada, para lo cual le facilitamos la siguiente información:</li>
        <li>Colegio profesional al que pertenece:</li>
        <li>Título académico oficial o profesional:</li>
        <li>Estado de la Unión Europea en que se expidió dicho título:</li>
        <li>Normas profesionales aplicables al ejercicio de la profesión:</li>
        <li>(EN CASO DE QUE EL RESPONSABLE DE LA PÁGINA WEB EJERZA UNA PROFESIÓN REGULADA)</li>
    </ul>

    <p class="mt-4 mb-4">Estamos a su disposición, no dude en contactar con nosotros.</p>

    <h3 class="mt-4 mb-4">¿Para qué vamos a usar sus datos?</h3>
    <p class="mt-4 mb-4">Con carácter general, sus datos personales serán usados para poder relacionarnos con usted y poder prestarle nuestros servicios. Asimismo, también pueden ser usados para otras actividades, como enviarle publicidad o promocionar nuestras actividades.</p>

    <h3 class="mt-4 mb-4">¿Por qué necesitamos usar sus datos?</h3>
    <p class="mt-4 mb-4">Sus datos personales son necesarios para poder relacionarnos con usted y poder prestarle nuestros servicios. En este sentido, pondremos a su disposición una serie de casillas que le permitirán decidir de manera clara y sencilla sobre el uso de su información personal.</p>

    <h3 class="mt-4 mb-4">¿Quién va a conocer la información que le pedimos?</h3>
    <p class="mt-4 mb-4">Con carácter general, sólo el personal de nuestra entidad que esté debidamente autorizado podrá tener conocimiento de la información que le pedimos. De igual modo, podrán tener conocimiento de su información personal aquellas entidades que necesiten tener acceso a la misma para que podamos prestarle nuestros servicios. Así por ejemplo, nuestro banco conocerá sus datos si el pago de nuestros servicios se realiza mediante tarjeta o transferencia bancaria. Asimismo, tendrán conocimiento de su información aquellas entidades públicas o privadas a las cuales estemos obligados a facilitar sus datos personales con motivo del cumplimiento de alguna ley. Poniéndole un ejemplo, la Ley Tributaria obliga a facilitar a la Agencia Tributaria determinada información sobre operaciones económicas que superen una determinada cantidad. En el caso de que, al margen de los supuestos comentados, necesitemos dar a conocer su información personal a otras entidades, le solicitaremos previamente su permiso a través de opciones claras que le permitirán decidir a este respecto.</p>

    <h3 class="mt-4 mb-4">¿Cómo vamos a proteger sus datos?</h3>
    <p class="mt-4 mb-4">Protegeremos sus datos con medidas de seguridad eficaces en función de los riesgos que conlleve el uso de su información. Para ello, nuestra entidad ha aprobado una Política de Protección de Datos y se realizan controles y auditorías anuales para verificar que sus datos personales están seguros en todo momento.</p>

    <h3 class="mt-4 mb-4">¿Enviaremos sus datos a otros países?</h3>
    <p class="mt-4 mb-4">En el mundo hay países que son seguros para sus datos y otros que no lo son tanto. Así por ejemplo, la Unión Europea es un entorno seguro para sus datos. Nuestra política es no enviar su información personal a ningún país que no sea seguro desde el punto de vista de la protección de sus datos. En el caso de que, con motivo de prestarle el servicio, sea imprescindible enviar sus datos a un país que no sea tan seguro como España, siempre le solicitaremos previamente su permiso y aplicaremos medidas de seguridad eficaces que reduzcan los riesgos del envío de su información personal a otro país.</p>

    <h3 class="mt-4 mb-4">¿Durante cuánto tiempo vamos a conservar sus datos?</h3>
    <p class="mt-4 mb-4">Conservaremos sus datos durante nuestra relación y mientras nos obliguen las leyes. Una vez finalizados los plazos legales aplicables, procederemos a eliminarlos de forma segura y respetuosa con el medio ambiente.</p>

    <h3 class="mt-4 mb-4">¿Cuáles son sus derechos de protección de datos?</h3>
    <p class="mt-4 mb-4">En cualquier momento puede dirigirse a nosotros para saber qué información tenemos sobre usted, rectificarla si fuese incorrecta y eliminarla una vez finalizada nuestra relación, en el caso de que ello sea legalmente posible. También tiene derecho a solicitar el traspaso de su información a otra entidad. Este derecho se llama “portabilidad” y puede ser útil en determinadas situaciones. Para solicitar alguno de estos derechos, deberá realizar una solicitud escrita a nuestra dirección, junto con una fotocopia de su DNI, para poder identificarle. En las oficinas de nuestra entidad disponemos de formularios específicos para solicitar dichos derechos y le ofrecemos nuestra ayuda para su cumplimentación. Para saber más sobre sus derechos de protección de datos, puede consultar la página web de la Agencia Española de Protección de Datos (<a href="http://www.agpd.es" target="_blank">www.agpd.es</a>).</p>

    <h3 class="mt-4 mb-4">¿Puede retirar su consentimiento si cambia de opinión en un momento posterior?</h3>
    <p class="mt-4 mb-4">Usted puede retirar su consentimiento si cambia de opinión sobre el uso de sus datos en cualquier momento. Así por ejemplo, si usted en su día estuvo interesado/a en recibir publicidad de nuestros productos o servicios, pero ya no desea recibir más publicidad, puede hacérnoslo constar a través del formulario de oposición al tratamiento disponible en las oficinas de nuestra entidad.</p>

    <h3 class="mt-4 mb-4">En caso de que entienda que sus derechos han sido desatendidos, ¿dónde puede formular una reclamación?</h3>
    <p class="mt-4 mb-4">En caso de que entienda que sus derechos han sido desatendidos por nuestra entidad, puede formular una reclamación en la Agencia Española de Protección de Datos, a través de alguno de los medios siguientes:</p>
    <ul class="mt-4 mb-4">
        <li>Sede electrónica: <a href="http://www.aepd.es" target="_blank">www.aepd.es</a></li>
        <li>Dirección postal:<br>
            Agencia Española de Protección de Datos<br>
            C/ Jorge Juan, 6<br>
            28001-Madrid
        </li>
        <li>Vía telefónica:<br>
            Telf. 901 100 099<br>
            Telf. 91 266 35 17
        </li>
    </ul>
    <p class="mt-4 mb-4">Formular una reclamación en la Agencia Española de Protección de Datos no conlleva ningún coste y no es necesaria la asistencia de abogado ni procurador.</p>

    <h3 class="mt-4 mb-4">¿Elaboraremos perfiles sobre usted?</h3>
    <p class="mt-4 mb-4">Nuestra política es no elaborar perfiles sobre los usuarios de nuestros servicios. No obstante, pueden existir situaciones en las que, con fines de prestación del servicio, comerciales o de otro tipo, necesitemos elaborar perfiles de información sobre usted. Un ejemplo pudiera ser la utilización de su historial de compras o servicios para poder ofrecerle productos o servicios adaptados a sus gustos o necesidades. En tal caso, aplicaremos medidas de seguridad eficaces que protejan su información en todo momento de personas no autorizadas que pretendan utilizarla en su propio beneficio.</p>

    <h3 class="mt-4 mb-4">¿Usaremos sus datos para otros fines?</h3>
    <p class="mt-4 mb-4">Nuestra política es no usar sus datos para otras finalidades distintas a las que le hemos explicado. Si, no obstante, necesitásemos usar sus datos para actividades distintas, siempre le solicitaremos previamente su permiso a través de opciones claras que le permitirán decidir al respecto.</p>
</div>