<style>
  @font-face {
      font-family: 'Gotham';
      src: url('/assets/fonts/Gotham-Black.woff2') format('woff2'),
           url('/assets/fonts/Gotham-Black.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }
</style>

<h1 style="font-family: 'Gotham', sans-serif;">Hello Gotham</h1>
<h1 style="font-family: arial;">Hello Gotham</h1>
