<footer class="footer w-full bg-brown text-white pl-100">
    <section>
        <div class="flex flex-col justify items-center lg:flex-row">
            <div>
                <p class="lg:text-3xl pr-4 text-center font-light">
                    En Nonna Maria, buscamos que cada visita </br> se convierta en un momento 
                    especial, </br> lleno de autenticidad y calidez..
                </p>
            </div>
            <%= image_tag("nonna-terrace.jpg", alt: "la nonna maria", class: "lg:w-1/2 h-auto") %> 
        </div>
    </section>
    <span class="text-sm text-gray-500 sm:text-center text-gray-400">
        Icons made from <a href="https://www.onlinewebfonts.com/icon">svg icons</a> is licensed by CC BY 4.0
    </span>
</footer>