<footer class="footer w-full bg-brown text-white font-light mx-auto px-10">
    <section class="py-10"> <!-- Added padding for spacing -->
        <div class="flex flex-col justify-center items-center lg:flex-row">
            <div class="lg:w-1/2"> <!-- Added width for better alignment -->
                <p class="sm: pb-10 lg:text-3xl pr-4 text-center font-light">
                    En Nonna Maria, buscamos que cada visita <span class="hidden sm:block"></br></span> se convierta en un momento 
                    especial,<span class="hidden sm:block"></br></span> lleno de autenticidad y calidez..
                </p>
            </div>
            <div class="lg:w-1/2"> <!-- Added a wrapper for the image -->
                <%= image_tag("nonna-terrace.jpg", alt: "la nonna maria", class: "w-full h-auto") %>
            </div>
        </div>
    </section>
    <section class="py-0"> <!-- Added padding for spacing -->
        <div class="flex flex-col sm:flex-row justify-between items-center px-5 py-4">
            <div class="flex justify-center mb-2 sm:mb-0">
                <ul class="flex space-x-4">
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=61565708200757" class="hover:underline">Facebook</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/nonnamaria_oficial/" class="hover:underline">Instagram</a>
                    </li>
                    <li>
                        <a href="https://www.tiktok.com/@nonnamaria_oficial" class="hover:underline">TikTok</a>
                    </li>
                    <li>
                        <%= link_to("Política", feedback_politica_path) %>
                    </li>
                    <li>
                        <%= link_to("Compromiso con la protección de datos", feedback_compromiso_path) %>
                    </li>
                </ul>
            </div>
            <span class="text-center text-xs text-right">© 2024 Nonna Maria. All Rights Reserved.</span>
        </div>
    </section>
</footer>
