<footer class="footer w-full bg-brown text-white">
    <section>
        <div class="flex flex-col justify-center items-center lg:flex-row">
            <div>
                <p class="lg:text-3xl pr-4 text-center font-light">
                    En Nonna Maria, buscamos que cada visita </br> se convierta en un momento 
                    especial, </br> lleno de autenticidad y calidez..
                </p>
            </div>
                <%= image_tag("nonna-terrace.jpg", alt: "la nonna maria", class: "lg:w-1/2 h-auto") %>
        </div>
    </section>
</footer>